
body {
    background-color: #000000;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;    
}

/* start of dropdown code */

  
.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* End of dropdown code */

#url-Bar-Index{
    width: 400px;
    
}

.url-Enter-Div-Index{
    text-align: center;
    
}


#body-Div{
    
    height: 600px;
    background-color:rgb(0, 2, 26);
}


#my-Header {
    color: rgb(8, 247, 8);
    text-align: center;

}

#news-Header{
    text-align: center;
    color: rgb(8, 247, 8);
    background-color: #333;
    margin-right: 0%;
    margin-left: 0%;
    
}

.inter-Eye{
    background-color: red;
    border-radius: 100%;
    position: absolute;
    bottom: 10%;
    right: 15%;
    opacity: 0%;
}

.inter-Eye:hover{
    opacity: 100%;

}

#about-Icons{
    background-color: gold;
    border-radius: 50%;
    margin-left: 17%;

}

#news-Img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#news-Img-Smaller{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#html-Code-Home{
    color: rgb(8, 247, 8);
    position: relative;
}

.html-Code-Home-White{
    color: white;
    position: relative;
}

#code-Home-Container{
    position: absolute;
}

#text {
    color: green;
    text-align: center;
    
}

#textLink {
    color: purple;
    text-align: center;
    
}

#pulsate-Text-Red{
    animation: pulseRed 5s infinite;
}

#pulsate-Text-White{
    animation: pulseWhite 1s infinite;
}

#pulsate-Text{
    width: 200px;
  height: 100%;
  animation: pulse 5s infinite;
  
}

@keyframes pulse {
  0% {
    color: orange;
  }
  50%{
    opacity: 0;
  }
  100% {
    color: orange;
  }
}

@keyframes pulseRed {
    0% {
      color: rgb(255, 0, 0);
    }
    50%{
      opacity: 0;
    }
    100% {
      color: rgb(0, 8, 255);
    }
}

@keyframes pulseWhite {
    0% {
      color: rgb(255, 255, 255);
    }
    100%{
      opacity: 0;
    }
}


.mid-Row{
    margin-top: 1%;
    height: 50px;
    width: 100%;
    color: #333;
    background-color: #333;
}

.mid-Row-Small{
    margin-top: 1%;
    height: 2px;
    width: 100%;
    color: #333;
    background-color: #333;
}


/* SILK ROAD */
#body-Div-Silk{
    background-color: #ffffff;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20%;

    
}

#header-Silk{
    text-align: left;
    

}

#silk-Img{
    width: 60px;
}

.container-Img-Text {
    display: grid;
    grid-template-columns: 1fr 17fr;
    
}

#verdi-Info{
    color: green; 
    text-align: left;
    
}

.link-Text-Silk{
    outline: auto;
    text-align: center;
    outline-style: auto;
    
    
}

.post-Silk-Div{
    outline-style: auto;
    
    background-color: rgb(225, 225, 225);
    text-align: center;
    

}

.post-Silk-Img{
    width: 20%;
    
}

#url-Bar-Silk{
    width: 400px;
    
}

.url-Enter-Div-Silk{
    text-align: center

}

/* SILK ROAD END */

/* PDF */

#body-Leaks{
    background-color: rgb(189, 189, 189);
    padding-left: 15%;
    padding-right: 15%;
    
    
}
    
#pdf-Body{
    background-color: rgb(248, 246, 237);
    padding-left: 10%;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);
    padding-right: 10%;
    padding-bottom: 10%;
    opacity: 0%;
    
}

#pdf-Content{
    background-color: rgb(248, 246, 237);
    

}

#pdf-Image{
    outline: grey; 
    outline-style:solid ; 
    position: absolute; 
    transform: rotate(10deg); 
    width: 200px; 
    margin: 2%;
    right: 20%;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);
    
}

#confidential{
    text-align: left;
    color: red;
    padding-top: 3%;
    opacity: 50%;
    
    
}

#pdf-Icon{
    width: 40px;
    
}

#url-Bar-Pdf{
    left: 50%;
    width: 400px;
    
}
    
.url-Enter-Div-Pdf{
    text-align: center;
    
}
    
/* PDF END*/

/* FOX START*/
#programHover:hover{
    opacity: 50%;
}


/* FOX END*/


